<!DOCTYPE html>
<html>
	<head>
		<title>BIBS路C Tech Tips</title>
		<link rel = "stylesheet" href = "./public/main.css">
		<link rel = "icon" href = "icon.png">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<meta charset = "utf-8">
	</head>
	<body>
		<div id = "cover">
			<div id = "topbar">
				<h1>BIBS路C Tech Tips</h1>
			</div> 
			<div id = "navbar">
				<ul id = "nav">
					<a href = "/"><li>Home</li><div class = "underline"></div></a>
	                <a href = "/tl1"><li>Knowing (TL1)</li><div class = "underline"></div></a>
	                <a href = "/tl2"><li>Strategies (TL2)</li><div class = "underline"></div></a>
	                <a href = "/tl3"><li>Evidence (TL3)</li><div class = "underline"></div></a>
	                <a href = "/tl4"><li>Crafting (TL4)</li><div class = "underline"></div></a>
					 <a href = "/tl4"><li>About Us</li><div class = "underline"></div></a>
				</ul>
			</div>
			<div id = "front">
				<img src = "https://americancareercollege.edu/pulse_images/slideshow/pulseslide_78_49854169526_33f3e8b22e.jpg">	
				<h1>Welcome to BASIS International and Bilingual Schools路China Tech Tips</h1>
			</div>
		</div>
		
		<!-- <div class="des">
			<div class="description">TL1</div>
			<div class="description">TL2</div>
			<div class="description">TL3</div>
			<div class="description">TL4</div>
		</div> -->
		<br>	<div id = "all" style = "padding:0px 0px"></div>
	<div class="desc-section">
		<div class="des">
			<div class="description">TL1: Knowing</div>
			<p>TL1 is all about knowing the technology that you are using. This includes understanding the basic functions of the technology, as well as any advanced features that may be available. By having a strong understanding of the technology, you can use it more effectively and efficiently, and avoid any potential problems or issues that may arise.</p>
		</div>
		
		<div class="des">
			<div class="description">TL2: Strategies</div>
			<p>TL2 focuses on developing effective strategies for using technology. This includes identifying the best tools and resources for a given task, as well as developing workflows and processes that can help you work more efficiently. By developing effective strategies, you can save time and effort, and achieve better results with your work.</p>
		</div>
		<div class="des">
			<div class="description">TL3: Evidence</div>
			<p>TL3 is all about using evidence to support your use of technology. This includes gathering data and information about the technology you are using, as well as analyzing and interpreting that data to make informed decisions. By using evidence to support your use of technology, you can make better decisions and achieve better results.</p>
		</div>
		<div class="des">
			<div class="description">TL4: Crafting</div>
			<p>TL4 focuses on crafting high-quality work using technology. This includes developing skills in areas such as design, programming, and multimedia production, as well as using tools and resources to create professional-quality work. By developing your skills and using the right tools, you can create work that is both effective and engaging.</p>
		</div>
	</div>
	
<footer>
	<p>&copy; 2023 BIBS路C Tech Tips</p>
</footer>
	

		<script type = "text/javascript">
			window.onscroll = function() {myFunction()};
			var header = document.getElementById("navbar");
			var sticky = header.offsetTop;
			function myFunction() {
				if (window.pageYOffset > sticky) {
					header.classList.add("sticky");
				} else {
					header.classList.remove("sticky");
				}
			}
    

		</script>
	</body>
</html>
