<html>
  <title>Basis Tech Website</title>
    <head>
      <link rel = "stylesheet" href = "Main.css">
      <script src="Main.js"></script>
    </head>
    <body>
    
    </body> 
</html>
//this is basically what we have
