<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Page</title>
</head>
<body>
    <form action="/submission" class="submission-form" method="post">
        <label id="title">Tech Tool Name</label>

        <br>
        
        <button id="submit" class="btn" type="submit">Submit</button>
    </form>
</body>
</html>