<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL1</title>
</head>
<body>
    <% if (content.length > 0){ content.forEach(tech => { %>
        <% if(tech.tl1==true){ %>
            <div class="tech">
                <h2 class="techname"><%=tech.techname%></h2>
                <text class="description"><%=tech.description%></text>
            </div>
        <% } %>
    <% } ) } %>
     
</body>
</html>