<html>
  <title>Basis Tech Website</title>
    <head>
      <link rel = "stylesheet" href = "public/main.css">
      <script src="public/main.js"></script>
    </head>
    <body>
    
    </body> 
</html>
//this is basically what we have
