<!DOCTYPE html>
<html>
	<head>
		<title>BIBS路C Tech Tools</title>
		<link rel = "stylesheet" href = "./public/main.css">
		<link rel = "icon" href = "icon.png">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<meta charset = "utf-8">
	</head>
	<body>
		<div id = "cover">
			<div id = "topbar">
				<h1>BIBS路C Tech Tools</h1>
			</div> 
			<div id = "navbar">
				<ul id = "nav">
					<a href = "/"><li>Home</li><div class = "underline"></div></a>
	                <a href = "/tl1"><li>Knowing (TL1)</li><div class = "underline"></div></a>
	                <a href = "/tl2"><li>Strategies (TL2)</li><div class = "underline"></div></a>
	                <a href = "/tl3"><li>Evidence (TL3)</li><div class = "underline"></div></a>
	                <a href = "/tl4"><li>Crafting (TL4)</li><div class = "underline"></div></a>
				</ul>
			</div>
			<div id = "front">
				<img src = "https://americancareercollege.edu/pulse_images/slideshow/pulseslide_78_49854169526_33f3e8b22e.jpg">	
				<h1>Welcome to BASIS International and Bilingual Schools路China Tech Tools</h1>
			</div>	
		</div>
        <div id = "bar">&nbsp;</div>
		
		<div id = "all" style = "padding:0px 0px">
			<div id = "basicinfo">
				<p>Before you start using this site, you'll want to take a moment to understand how it is organized. </p>
				<p>This website presents technological tools you can use to aid your instruction. These <b>Tech Tools</b> are sorted into four <b>domains</b> based on their function (see below). Within each domain, Tech Tools are then sorted into <b>strands</b> based on how they help you accomplish each step in implementing the broader educational strategy. On this site, there will be a separate page for domain, where you will then be able to apply an interactive filter to find tools specific to each strand.</p>

				<h1>The 4 Strategies for Teaching and Learning (TL):</h1>
				<div class="tl-section">
					<a href = "/tl1"><div class="tlx">
						<div class="tlhead">TL1: Knowing Our Students</div>
						<p>TL1 is all about knowing the technology that you are using. This includes understanding the basic functions of the technology, as well as any advanced features that may be available. By having a strong understanding of the technology, you can use it more effectively and efficiently, and avoid any potential problems or issues that may arise.</p>
					</div></a>
					
					<a href = "/tl2"><div class="tlx">
						<div class="tlhead">TL2: Strategies for Learning</div>
						<p>TL2 focuses on developing effective strategies for using technology. This includes identifying the best tools and resources for a given task, as well as developing workflows and processes that can help you work more efficiently. By developing effective strategies, you can save time and effort, and achieve better results with your work.</p>
					</div></a>
					<a href = "/tl3"><div class="tlx">
						<div class="tlhead">TL3: Evidence for Learning</div>
						<p>TL3 is all about using evidence to support your use of technology. This includes gathering data and information about the technology you are using, as well as analyzing and interpreting that data to make informed decisions. By using evidence to support your use of technology, you can make better decisions and achieve better results.</p>
					</div></a>
					<a href = "/tl4"><div class="tlx">
						<div class="tlhead">TL4: Crafting the Curriculum</div>
						<p>TL4 focuses on crafting high-quality work using technology. This includes developing skills in areas such as design, programming, and multimedia production, as well as using tools and resources to create professional-quality work. By developing your skills and using the right tools, you can create work that is both effective and engaging.</p>
					</div></a>
				</div>	
				<p>In addition, if you know of any tech tools not already on this site, you may submit them here: <a href = "/submission"><button class="submit-link">Submit New Tech Tool</button></a></p>
				
			</div>

			
		</div>
		
		<footer>
			<p>&copy; 2023 BIBS路C Tech Tips</p>
		</footer>
		

		<script type = "text/javascript">
			// window.onscroll = function() {scroll()};
			// function scroll() {
			// }
		</script>
	</body>
</html>