<!DOCTYPE html>
<html>
	<head>
		<title>BIBS路C Tech Tools</title>
		<link rel = "stylesheet" href = "./public/main.css">
		<link rel = "icon" type = "image/png" href = "/images/favicon.png">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<meta charset = "utf-8">
	</head>
	<body>
		<div id = "cover">
			<div id = "topbar">
				<h1>BIBS路C Tech Tools</h1>
			</div> 
			<div id = "navbar">
				<ul id = "nav">
					<a href = "/"><li>Home</li><div class = "underline"></div></a>
	                <a href = "/tl1"><li>Knowing (TL1)</li><div class = "underline"></div></a>
	                <a href = "/tl2"><li>Strategies (TL2)</li><div class = "underline"></div></a>
	                <a href = "/tl3"><li>Evidence (TL3)</li><div class = "underline"></div></a>
	                <a href = "/tl4"><li>Crafting (TL4)</li><div class = "underline"></div></a>
				</ul>
			</div>
			<div id = "front">
				<img src = "https://americancareercollege.edu/pulse_images/slideshow/pulseslide_78_49854169526_33f3e8b22e.jpg">	
				<h1>Welcome to BASIS International and Bilingual Schools路China Tech Tools</h1>
			</div>	
		</div>
        <div id = "bar">&nbsp;</div>
		
		<div id = "all" style = "padding:0px 0px">
			<div id = "basicinfo">
				<p>Before you start using this site, you'll want to take a moment to understand how it is organized. </p>
				<p>This website presents technological tools you can use to aid your instruction. These <b>Tech Tools</b> are sorted into four <b>domains</b> based on their function (see below). Within each domain, Tech Tools are then sorted into <b>strands</b> based on how they help you accomplish each step in implementing the broader educational strategy. On this site, there will be a separate page for domain, where you will then be able to apply an interactive filter to find tools specific to each strand.</p>

				<h1>The 4 Strategies for Teaching and Learning (TL):</h1>
				<div class="tl-section">
					<a href = "/tl1"><div class="tlx">
						<div class="tlhead">TL1: Knowing Our Students</div>
						<ul>
							<li style = "list-style: none;"><i>Includes the strands:</i></li><br>
							<li>Relationships</li> 
							<li>Teacher planning</li>	
							<li>Modify their teaching</li>	
							<li>Achieve readiness</li>
						</ul>
					</div></a>
					
					<a href = "/tl2"><div class="tlx">
						<div class="tlhead">TL2: Strategies for Learning</div>
						<ul>
							<li style = "list-style: none;"><i>Includes the strands:</i></li><br>
							<li>Understanding</li>
							<li>Multi-dimensional learning</li>
							<li>Reasoned arguments</li>
							<li>Repertoire of techniques</li>
							<li>Learning spaces</li>
						</ul>
					</div></a>
					<a href = "/tl3"><div class="tlx">
						<div class="tlhead">TL3: Evidence for Learning</div>
						<ul>
							<li style = "list-style: none;"><i>Includes the strands:</i></li><br>
							<li>Reflect on thinking</li>
							<li>Evidence of student learning</li>
							<li>Employ feedback</li>
						</ul>
					</div></a>
					<a href = "/tl4"><div class="tlx">
						<div class="tlhead">TL4: Crafting the Curriculum</div>
						<ul>
							<li style = "list-style: none;"><i>Includes the strands:</i></li><br>
							<li>Risk-taking environment</li>
							<li>Deepening lines of inquiry</li>
							<li>Responsibility and aspects of citizenship</li>							     
						</ul>
					</div></a>
				</div>	
				<p>In addition, if you know of any tech tools not already on this site, you may submit them here: <a href = "/submission"><button class="submit-link">Submit New Tech Tool</button></a></p>
				
			</div>

			
		</div>
		
		<footer>
			<p>
				<a href = "/tl1">Knowing (TL1)</a> | 
				<a href = "/tl2">Strategies (TL2)</a> |
				<a href = "/tl3">Evidence (TL3)</a> |
				<a href = "/tl4">Crafting (TL4)</a>
			</p>
			<p><b>&copy; 2023 BIBS路C Tech Tips</b></p> 
		</footer>
	</body>
</html>
