<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" href = "../public/login.css">
		<link rel = "icon" type = "image/png" href = "/images/favicon.png">
		<title>Login</title>
	</head>
	<!-- <img src="https://bisz.basischina.com/img/BISZ.8d226aa0.png" alt="BISZ logo"> -->

	 <form action="/login" method="post">
		<div class="login-box">
			<h2>Login</h2>
			
			
			<div class="user-box">
				<input type="text"  name = "username" id = "username" required>
				<label>Username</label>
			</div>
			<div class="user-box">
				<input type="password"  name = "password" id = "password"required>
				<label>Password</label>      
			</div>
		
			<button type="submit1" name="id1"> Login </button>    
					
		</div>
	</form>
	

	<script type = "text/javascript">
		
	</script>
	

</html> 
