<html>
    <head>
        <title>TL1: Knowing</title>
        <link rel = "stylesheet" href = "../public/main.css">
        <link rel = "icon" href = "icon.png">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <meta charset = "utf-8">
    </head>
    <body onload = "loadPage()">
        <div id = "topbar">
            <h1>BIBS·C Tech Tips</h1>
        </div> 
        <div id = "navbar">
            <ul id = "nav">
                <a href = "/"><li>Home</li><div class = "underline"></div></a>
                <a href = "/tl1"><li>Knowing (TL1)</li><div class = "underline"></div></a>
                <a href = "/tl2"><li>Strategies (TL2)</li><div class = "underline"></div></a>
                <a href = "/tl3"><li>Evidence (TL3)</li><div class = "underline"></div></a>
                <a href = "/tl4"><li>Crafting (TL4)</li><div class = "underline"></div></a>
            </ul>
        </div>
        <div id = "subhead">
            <h1>TL1: Knowing Our Students</h1>
        </div>
        <div id = "bar">&nbsp;</div>
        <div id = "all">
            <br>    
            <div id = "techtip-wrap">
                <div class = "techtip">
                    <h3>Tech Tip Name</h3>
                    <div class = "tags">
                        <span>This is a tag</span>
                    </div>
                    <div class = "info">
                        <div class = "img"><img src = "https://cdn.worldvectorlogo.com/logos/microsoft-windows-xp-professional-1.svg"></div>
                        <div class = "desc">Tech tip description description description description description description description description description description description description description description description description description description description description description description description description</div>
                        <div class = "link">
                            <ul>
                                <li><a href = "#">Link</a> goes here</li>
                                <li><a href = "#">Link</a> goes here</li>
                                <li><a href = "#">Link</a> goes here</li>
                            </ul>
                        </div>
                    </div>
                    <div class = "line"></div>
                </div>
            </div>
            <div id = "footer"></div>
        </div>
        <script type = "text/javascript">
            
        </script>
        <script type = "text/javascript">

            let txt = ['<div class = "techtip"><h3>', '</h3><div class = "tags">', 
                '</div><div class = "info"><div class = "img"><img src = "', 
                '"></div><div class = "desc">', '</div><div class = "link"><ul>', 
                '</ul></div></div><div class = "line"></div></div>'];
            function $(x){
                return document.getElementById(x);
            }

            function loadPage(){
                $('techtip-wrap').innerHTML += txt[0];
                $('techtip-wrap').innerHTML += "This is a heading";
                $('techtip-wrap').innerHTML += txt[1];
                // add spans for tags here 
                <span>&nbsp;</span>
                $('techtip-wrap').innerHTML += txt[2];
                $('techtip-wrap').innerHTML += "https://cdn.worldvectorlogo.com/logos/microsoft-windows-xp-professional-1.svg";
                $('techtip-wrap').innerHTML += txt[3];
                $('techtip-wrap').innerHTML += "Description";
                $('techtip-wrap').innerHTML += txt[4];
                $('techtip-wrap').innerHTML += txt[5];
            }


            window.onscroll = function() {myFunction()};

            var header = document.getElementById("navbar");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        </script>
    </body>
</html>
