html{
	overflow-y: scroll;
}
body{
	margin: 0px;
	background: #000;
}
body *{
	box-sizing: border-box;
	font-family: arial;
}

.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*cover*/
#cover{
	display: flex;
	flex-flow: column;
	height: 100%;
}

#cover #topbar #navbar{
	flex: 0 1 auto;
}

#cover #front{
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	width: 100%;
	overflow: hidden;
	color: #FFF;
	z-index: -1;
}

#front img{
	height: auto;
	width: 100%;
	filter: blur(10px);
	position: absolute;
	top: 0;
}

#front h1{
	position: relative;
	z-index: 99;
	width: 75%;
	font-size: 5vw;
	color: #FFF;
	margin-left: 5%;
	padding-bottom: 5%;
}

/*banner, navbar*/
#topbar{
	background: #FFF;
	padding: 10px;
	padding-bottom: 5px;
}
#topbar h1{
	color: #3255A4;
	font-size: 2.1vw;
	font-style: italic;
	margin: 0;
	padding-bottom: 5px;
}
#topbar hr{
	height: 2px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: #FFF;
}

#navbar{
	background: #3255A4;	
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
}

#nav{
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin: 0px;
	padding: 0px;
	font-size: 1.2vw;
}

#nav li{
	height: 100%;
	width: 100%;
	padding: 5px 20px;
	position: relative;
	display: block;
	align-items: center;
	text-align: center;
	color: #FFF;
	transition: .75s ease;
}

#nav a{
	text-decoration: none;
	padding-bottom: 2px;
	position: relative;
}

a .underline{
	height: 2px;
	width: 0;
	background: #3255A4;
	margin: auto;
	transition: .5s ease;
}

#nav a:hover li{
	background: #78A9ff;
	color: #000;
	transition: .75s ease;
}

#nav a:hover .underline{
	background: #FFF;
	width: 100%;
}

/*all*/
#all{
	background: #FFF;
}

/*grid*/
.item{
	text-align: center;
	padding: 20px;
	font-size: 16px;
}
.item img {
	height: 130px;
	width: 200px;
	border-radius: 8px;
}
.wrapper{
	width: 33.33333333%; 
	padding: 10px;
	float: left;
	overflow: hidden;
	height: auto;
	display: inline-block;
}

/*js elements*/
.sticky {
	position: fixed;
	width: 100%;
	top: 0;
}

/*mobile optimization*/
@media only screen and (max-width: 880px){
	#cover, #cover *{
		display: block;
		height: auto;
	}
	#cover #front{
		display: block;
		position: relative;
	}
	#cover #front img{
		position: static;
	}
	#cover #front h1{
		position: absolute;
		top: 0;
		padding-top: 15px;
		font-size: 8vw;
		width: auto;
	}
	#topbar h1{
		font-size: 5vw;
	}
	#nav li{
		height: auto;
		font-size: 4vw;
	}

	.wrapper{
		width:100%;
	}
	/*js elements*/
	.sticky{
		position: static;
	}
}