/* CSS for Login Page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

form {
  width: 360px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f1f1f1;
  margin: 20px 0;
  font-size: 16px;
  color: #333;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

button {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.user-box {
  position: relative;
}
.user-box img {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

.user-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
}